.footer-container {
  background: url("https://i.ibb.co/Hq1Dhdt/13.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.copy-right {
  background: url("https://i.ibb.co/X7yvzqN/24.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
